@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

* {
    font-family: "Nunito", sans-serif;
}

html {
    background-color: #f6f9fb;
}

body {
    margin: unset;
}

.layout {
    height: 100%;
    color: #afaead;
}

.active {
    color: #a5a5a5;
}

.navbar {
    height: 3.2em;
    margin: 0;
    padding: 0 10em;
    background-color: #fdfdfd;
    border-bottom: 2px solid #eaf1f3;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.navbar .left {
    width: 19em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .right {
    width: 7.8em;
}

.navbar .right div {
    height: 100%;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-title {
    font-size: 1.1em;
    color: #878685;
}

a {
    color: darkgray;
    text-decoration: unset;
}

.content {
    margin: 1.5em auto;
    text-align: center;
    width: 800px;
    background-color: inherit;
    border-radius: 2px;
}

.card {
    margin-bottom: 1.5em;
    display: block;
    background-color: white;
    border: 2px solid #eaf1f3;
    border-radius: 5px;
}

.title {
    color: #afaead;
}

.card-header {
    height: 2em;
    padding: 0 1.6em;
    text-align: left;
    border-bottom: 2px solid #eaf1f3;
    color: #404040;
    font-weight: bold;
}

.card-body {
    padding: 2em 7em 2em 5em;
    color: #404040;
}

.content-body {
    padding: 1.4em 2.4em;
    color: #404040;
}

.usage-overview {
    display: flex;
}

.usage-compositions {
    display: flex;
}

.div-left {
    width: 14%;
    text-align: left;
    line-height: 30px;
    display: flex;
    flex-direction: column;
}

.div-right {
    width: 86%;
    padding-left: 1em;
    text-align: left;
    line-height: 30px;
    display: flex;
    flex-direction: column;
}

.table {
    width: 100%;
    text-align: left;
    line-height: 30px;
    border-collapse: collapse;
}

.column-type,
.column-num {
    width: 24%;
}

.column-size {
    width: 52%;
}

th {
    font-weight: normal;
    color: #404040;
    padding-bottom: 6px;
}

td {
    color: #afaead;
    border-top: 1px solid #afaead;
    padding: 6px 0;
}

.gallery-body {
    text-align: center;
    padding: 2.4em;
    color: #404040;
}

.gallery-body-empty {
    text-align: center;
    height: fit-content;
}

.vue-dropzone {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 300px !important;
    border: 2px dashed #e5e5e5 !important;
    border-radius: 5px;
}

.dropzone.dz-clickable:hover {
    border-color: #404040 !important;
}

.dropzone .dz-preview.dz-error .dz-error-mark {
    -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1) !important;
    animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1) !important;
}

.dropzone .dz-preview.dz-error.dz-complete .dz-error-mark {
    opacity: 0;
}

.dropzone .dz-preview .dz-error-message {
    top: 50% !important;
    transform: translateY(-30%) !important;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    padding: 2.4em;
}

form {
    display: flex;
}

.form-left {
    width: 30%;
    padding-right: 1em;
    text-align: right;
    line-height: 30px;
    display: flex;
    flex-direction: column;
}

.form-right {
    width: 70%;
    padding-left: 1em;
    text-align: left;
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    box-sizing: border-box;
    box-shadow: inset 0 0 2px #d3d3d3;
    border: 1px solid #b7b7b7;
    border-radius: 5px;
    line-height: 26px;
    padding-left: 0.6em;
}

input[type="checkbox"] {
    box-sizing: border-box;
    box-shadow: inset 0 0 2px #d3d3d3;
    border: 1px solid #b7b7b7;
    border-radius: 3px;
}

img {
    width: 210px;
    height: 210px;
    margin: 14px;
    object-fit: cover;
}

.btn {
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    line-height: 1em;
    color: #e4eaed;
    background-color: #31a1d7;
    border: 1px solid #9dcde5;
    border-radius: 5px;
    margin-right: 14px;
    font-size: 1em;
}

.btn:hover {
    background-color: #d75831;
    border: 1px solid #e57e38;
}

.btn:active {
    background-color: #31a1d7;
    border: 1px solid #9dcde5;
}

.msg {
    height: 14px;
}

.msg.err-msg {
    height: 30px;
    font-size: 13px;
    line-height: 30px;
    color: red;
    text-align: left;
}

input.err-msg {
    border: 1px solid red;
}
